:root{
    --banner-color:#540407;
    --letrasbn-color:#f5f4dc;
    --bg-color:#eee7d8;
    --nav-color:#f1f1f1;
    --letras-color:#171616f2;
    --buscador-color:#bab4bb;
    
    /* fuentes */
    --primary-font:'Poppins', sans-serif;
    --secondary-font:'Roboto', sans-serif;  
}

body, html {
    font-family: var(--primary-font);
    background-image: url(../img/11.jpg);
    /* background: rgb(255,255,255);
    background: -moz-linear-gradient(16deg, rgba(255,255,255,1) 0%, rgba(251,207,112,1) 48%, rgba(238,231,216,1) 83%);
    background: -webkit-linear-gradient(16deg, rgba(255,255,255,1) 0%, rgba(251,207,112,1) 48%, rgba(238,231,216,1) 83%);
    background: linear-gradient(16deg, rgba(255,255,255,1) 0%, rgba(251,207,112,1) 48%, rgba(238,231,216,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#eee7d8",GradientType=1); */
    padding: 0;
    margin: 0;
    height: 100vh;
}




/* .header .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav-color);
} */

/* .header .nav-links li a {

    display: block;
    padding: 14px 16px;
    background-color: var(--nav-color);
    text-decoration: none;
    text-align: left;
} */



/* .nav-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: block;
    justify-content: space-around;
    text-align: center;
    background-color: var(--nav-color);
    float: left;
}


.search{
    display: flex;    
    justify-content: flex-end;
    } */

.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-color);
    /* overflow: hidden; */
}




.links {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--letras-color);
    
}
    
a{
    text-decoration: none;
    color: var(--letras-color);
    font-family: var(--secondary-font);
    font-weight: bold;
}  

.search {
    display: flex;
    justify-content: center;
    height: 105px;
  
}

.nav-links li a:hover{
    background-color: #d6cdd8;
}

#list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.title-item-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: all.5s;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.70);

}

.title-item-img:hover{
    transform: scale(1.09);
    filter: blur(3px); 
   
}
.title-item p {
    text-align: center;
}

.show-item-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all.5s;
    cursor: pointer;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.70); 
    position: relative;
    display: inline-block;
}

.show-item-img:hover{
    transform: scale(1.09);
    filter: blur(1.5px);

}

.show-item p {
    text-align: center;
}


.show-item:hover .show-item-detail{
    top:0;
}


#list-popular{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#list-popular-cine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#list-popular-recitales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 4rem;
}

.container-index h2 {
    text-align: center;
   font-size: 50px;
}

.container h2 {
    text-align: center;
    font-size: 50px;
}


#estrenos {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}


@media only screen and (min-width: 601px) and (max-width: 768px){
    #logo{

        height: 150px;
        width: 25px;
    }
}

/* Estilos comunes para todos los tamaños de pantalla */

/* Media query para dispositivos móviles */
/*@media only screen and (max-width: 600px) {
    
}

/* Media query para tablets */
/*@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
}

/* Media query para computadoras de escritorio */
/*@media only screen and (min-width: 1025px) {
  
} 