<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura Argentina, Busca tu Cine, Teatros y Recitales</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b09d4fb5bd.js" crossorigin="anonymous"></script>
    <title>Quienes somos</title>
</head>
<body>
     <header class="header">
        <nav>
            <div id="logo">
                <a href="../index.html"> 
                    <img src="../img/Banner.svg" alt="logo bailarines"> 
                </a>
            </div>
            
      <ul class="nav-links">
        <li><a href="../index.html" class="links">Inicio</a></li>
        <li><a href="../template/cines.html" class="links">Cines</a></li>
        <li><a href="../template/recitales.html" class="links">Recitales</a></li>
        <li><a href="../template/teatro.html" class="links">Teatro</a></li>
        <li><a href="../template/contacto.html" class="links">Contacto</a></li>
      </ul>
            </nav>
     </header>

     <main>
        <section id="title-about">
            <div>
                <h1>Quienes somos</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minima pariatur ipsa perferendis, voluptatum quidem numquam nihil. Sapiente excepturi laudantium harum, praesentium explicabo ea iure repellat, totam, quisquam minima possimus!</p>
            </div>
      </section>

      <section id="img-about">
        <a href="#">
            <div class="retrato1"><img src="http://picsum.photos/200" alt="imagen random"></div>
        </a>
        <div class="about.title">
            <h2>Nombre1</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab magni optio fuga nihil modi, suscipit libero culpa laudantium eligendi at veniam dolores, porro ipsum quae, distinctio natus perspiciatis voluptatem debitis?</h4>
             <input class="about-face" type="button" value="">
             <input class="about-insta" type="button" value="">
             <input class="about-twitter" type="button" value="">
        </div>
        <a href="#">
            <div class="retrato1"><img src="http://picsum.photos/200" alt="imagen random"></div>
        </a>
        <div class="about.title">
            <h2>Nombre2</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab magni optio fuga nihil modi, suscipit libero culpa laudantium eligendi at veniam dolores, porro ipsum quae, distinctio natus perspiciatis voluptatem debitis?</h4>
             <input class="about-face" type="button" value="">
             <input class="about-insta" type="button" value="">
             <input class="about-twitter" type="button" value="">
        </div>
        <a href="#">
            <div class="retrato1"><img src="http://picsum.photos/200" alt="imagen random"></div>
        </a>
        <div class="about.title">
            <h2>Nombre3</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab magni optio fuga nihil modi, suscipit libero culpa laudantium eligendi at veniam dolores, porro ipsum quae, distinctio natus perspiciatis voluptatem debitis?</h4>
             <input class="about-face" type="button" value="">
             <input class="about-insta" type="button" value="">
             <input class="about-twitter" type="button" value="">
        </div>
        <a href="#">
            <div class="retrato1"><img src="http://picsum.photos/200" alt="imagen random"></div>
        </a>
        <div class="about.title">
            <h2>Nombre4</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab magni optio fuga nihil modi, suscipit libero culpa laudantium eligendi at veniam dolores, porro ipsum quae, distinctio natus perspiciatis voluptatem debitis?</h4>
             <input class="about-face" type="button" value="">
             <input class="about-insta" type="button" value="">
             <input class="about-twitter" type="button" value="">
        </div>

      </section>
     </main>

     <footer></footer>
    
</body>
</html>