<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura Argentina, Busca tu Cine, Teatros y Recitales</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/b09d4fb5bd.js" crossorigin="anonymous"></script>
    <title>Cines</title>
</head>

<body>
    <header class="header">
        <nav>
            <div>
                <a href="../index.html"> <img src="../img/Banner.svg" alt="logo bailarines" class="logo" >
                </a>
              </div>
        <div class="navbar-template">
            <ul class="nav-links-template">
            <li><a href="../index.html" class="links">Inicio</a></li>
            <li><a href="../template/teatro.html" class="links">Teatro</a></li>
            <li><a href="../template/recitales.html" class="links">Recitales</a></li>
            <li><a href="../template/about.html" class="links">Quienes somos</a></li>
            <li><a href="../template/contacto.html" class="links">Contacto</a></li>
            </ul>
        </div>    
       </nav>
    </header>

    <main>
        <section id="popular">

            <!-- División contenedora del titulo e imagenes -->
            <div class="container" class="show-grid">

                <h2>ÚLTIMOS ESTRENOS</h2>
                <!-- Div para mostrar todas las imagenes e info de las obras -->
                <div id="estrenos">

                    <!-- División que mostrará imagen y detalle de la obra, mismo  formato para todas las obras -->
                    <!-- pelicula 01 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/proximamente/BACK-TO-BLACK" target="_blank" rel="noopener">
                            <img src="../img/backtoblack.jpg" alt="Back to black" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Back To Black</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>

                    <!-- pelicula 02 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/KUNG-FU-PANDA-4" target="_blank" rel="noopener">
                            <img src="../img/kunfupanda.jpg" alt="Kun fu Panda 4" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Kun Fu Panda 4</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>

                    <!-- pelicula 03 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/DUNA-PARTE-DOS" target="_blank" rel="noopener">
                            <img src="../img/duna.jpg" alt="Duna parte 2" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Duna Parte 2</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>

                    <!-- pelicula 04 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/GODZILLA-X-KONG-EL-NUEVO-IMPERIO" target="_blank" rel="noopener">
                            <img src="../img/godzilla.jpg" alt="Godzilla X Kong El Nuevo Imperio" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Godzilla X Kong <br>El Nuevo Imperio</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>

                    <!-- pelicula 05 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/LAZOS-DE-VIDA" target="_blank" rel="noopener">
                            <img src="../img/lazosdevida.jpg" alt="Lazos De Vida" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Lazos De Vida</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>

                    <!-- pelicula 06 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/TOKYO-SHAKING" target="_blank" rel="noopener">
                            <img src="../img/tokyoshaking.jpg" alt="Tokyo Shaking" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-subtitle-template-chow-item-detail-title">Tokyo Shaking</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>
                     <!-- pelicula 07 -->
                     <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/LA-PRIMERA-PROFECIA" target="_blank" rel="noopener">
                            <img src="../img/laprofecia.jpg" alt="La primera profecía" class="show-item-img">
                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">La Primera Profecía</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>
                    <!-- pelicula 08 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/LA-NOCHE-QUE-LUCHE-CONTRA-DIOS" target="_blank" rel="noopener">
                            <img src="../img/lanochequeluchecontradios.jpg" alt="La n oche que luche contra Dios" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">La Noche Que Luche <br> Contra Dios</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>
                     <!-- pelicula 09 -->
                     <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar/pelicula/ARTHUR-UNA-AMISTAD-SIN-LIMITES" target="_blank" rel="noopener">
                            <img src="../img/arthurunaamistadsinlimites.jpg" alt="Arthur Una Amistad Sin Limites" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Arthur Una Amistad <br>Sin Limites</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>
                    <!-- pelicula 10 -->
                    <div class="show-item">
                        <a href="https://www.cinemarkhoyts.com.ar" target="_blank" rel="noopener">
                            <img src="../img/amorsintiempo.jpg" alt="Amor sin Tiempo" class="show-item-img">

                            <div class="show-item-detail">
                                <h3 class="show-item-detail-title">Amor Sin Tiempo</h3>
                                <p class="show-item-detail-subtitle">Ver más</p>
                            </div>
                        </a>
                    </div>

    </main>
    <br>
    <br>
    <br>

    <footer class="footer">
        
          <a href="" class="derechos">Todos los derechos reservados grupo 3 2024</a>
        </footer>


</body>

</html>