<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura Argentina, Busca tu Cine, Teatros y Recitales</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b09d4fb5bd.js" crossorigin="anonymous"></script>
    <title>Recitales</title>
</head>
<body>
    <header class="header">
        <nav>
            <div>
                <a href="./index.html"> <img src="../img/Banner.svg" alt="logo bailarines" class="logo" width="1583" height="100">
                </a>
              </div>
            <div class="navbar-template">
                <ul class="nav-links-template">
                    <li><a href="../index.html" class="links">Inicio</a></li>
                    <li><a href="../template/cines.html" class="links">Cines</a></li>
                    <li><a href="../template/teatro.html" class="links">Teatro</a></li>
                    <li><a href="../template/about.html" class="links">Quienes somos</a></li>
                    <li><a href="../template/contacto.html" class="links">Contacto</a></li>
                </ul>
            </div>
        </nav>
     </header>
        
            <main>
                <section id="popular">
        
                <!-- División contenedora del titulo e imagenes -->
                    <div class="container" class="show-grid">
                       
                        <h2>PRÓXIMOS RECITALES</h2>
                        <!-- Div para mostrar todas las imagenes e info de las obras -->
                            <div id="estrenos">
                       
                            <!-- División que mostrará imagen y detalle de la obra, mismo  formato para todas las obras -->
                            <!-- Recital 01 -->
                                <div class="show-item">
                                    <a href="https://www.movistararena.com.ar/show/d090d257-ade0-431e-9c14-02aeeba13f8f" target="_blank" rel="noopener"> 
                                        <img src="../img/Residente.jpg" alt="Residente" class="show-item-img">
                                                   
                                            <div class="show-item-detail">
                                                <p class="show-item-detail-title">Movistar Arena</p>
                                                <p class="show-item-detail-subtitle">Ver más</p>
                                            </div> 
                                    </a>
                                </div>
                       
                            <!--Recital 02 -->
                                <div class="show-item">
                                    <a href="https://www.movistararena.com.ar/show/21f03c85-b78b-465a-8eca-a49ee08de0f3" target="_blank" rel="noopener">
                                        <img src="../img/Ciro.jpg" alt="Ciro y los Persas" class="show-item-img">
                                                   
                                            <div class="show-item-detail">
                                                <p class="show-item-detail-title">Movistar Arena</p>
                                                <p class="show-item-detail-subtitle">Ver más</p>
                                            </div> 
                                    </a>
                                </div>
                       
                            <!-- Recital 03 -->
                                <div class="show-item">
                                    <a href="https://entradauno.com/landing/13029-ratones-paranoicos?idEspectaculoCartel=13029&cHashValidacion=8dbe5301c47b046d6859a19b638f7e697d9a7c64" target="_blank" rel="noopener">
                                        <img src="../img/ratones-paraonicos.jpg" alt="Ratones Paranoicos" class="show-item-img">
                                    
                                            <div class="show-item-detail">
                                                <p class="show-item-detail-title">Estadio Velez</p>
                                                <p class="show-item-detail-subtitle">Ver más</p>
                                            </div> 
                                    </a>
                                </div>              
                            <!-- Recital 04 -->
                                <div class="show-item">
                                    <a href="https://entradauno.com/landing/13241-morat?idEspectaculoCartel=13241&cHashValidacion=98caed22334668b7c4220054df6266d9fb1fcdff" target="_blank" rel="noopener">
                                        <img src="../img/morat.jpg" alt="Morat" class="show-item-img">
                                                   
                                            <div class="show-item-detail">
                                                <p class="show-item-detail-title">Estadio Velez</p>
                                                <p class="show-item-detail-subtitle">Ver más</p>
                                            </div> 
                                    </a>
                                </div>
                                           
                            <!-- Recital 05 -->
                                <div class="show-item">
                                    <a href="https://www.ticketportal.com.ar/evt/default.php?p=68724860940AEDAF7529DDFDDAD726A767B86BDFD1504539#!/event" target="_blank" rel="noopener">
                                        <img src="../img/caligaris.jpg" alt="Caligaris" class="show-item-img">
                                                   
                                            <div class="show-item-detail">
                                                <p class="show-item-detail-title">Teatro Multiescena</p>
                                                <p class="show-item-detail-subtitle">Ver más</p>
                                            </div> 
                                    </a>
                                </div>
                       
                            <!-- Recital 06 -->
                                <div class="show-item">
                                    <a href="https://www.ticketek.com.ar/milo-j/estadio-deportivo-moron" target="_blank" rel="noopener">
                                        <img src="../img/milo_j.jpg" alt="Milo J" class="show-item-img">
                                                   
                                            <div class="show-item-detail">
                                                <p class="show-item-detail-title">Estadio de Morón</p>
                                                <p class="show-item-detail-subtitle">Ver más</p>
                                            </div> 
                                    </a>
                                </div>

                            <!-- Recital 07 -->
                            <div class="show-item">
                                <a href="https://www.movistararena.com.ar/show/b5aad602-1c1f-4169-bdd2-4faa052f790a" target="_blank" rel="noopener">
                                    <img src="../img/la_vela_puerca.jpg" alt="La Vela Puerca" class="show-item-img">
                                               
                                        <div class="show-item-detail">
                                            <p class="show-item-detail-title">Movistar Arena</p>
                                            <p class="show-item-detail-subtitle">Ver más</p>
                                        </div> 
                                </a>
                            </div>  

                            <!-- Recital 08 -->
                            <div class="show-item">
                                <a href="https://www.movistararena.com.ar/show/94028fe3-7e96-48b6-aba1-41a0f5e23dd5" target="_blank" rel="noopener">
                                    <img src="../img/babasonicos.jpg" alt="Babasonicos" class="show-item-img">
                                               
                                        <div class="show-item-detail">
                                            <p class="show-item-detail-title">Movistar Arena</p>
                                            <p class="show-item-detail-subtitle">Ver más</p>
                                        </div> 
                                </a>
                            </div> 

                            <!-- Recital 09 -->
                            <div class="show-item">
                                <a href="https://www.entradauno.com.ar/landing/13215-emilia?idEspectaculoCartel=13215&cHashValidacion=2c997a1f70bfbde07dd40755ba35339b081b6740" target="_blank" rel="noopener">
                                    <img src="../img/Emilia.jpeg" alt="Emilia" class="show-item-img">
                                               
                                        <div class="show-item-detail">
                                            <p class="show-item-detail-title">Estadio Velez</p>
                                            <p class="show-item-detail-subtitle">Ver más</p>
                                        </div> 
                                </a>
                            </div> 

                            <!-- Recital 10 -->
                            <div class="show-item">
                                <a href="https://www.movistararena.com.ar/show/ab07c77d-f3f0-4a16-915e-c83fa0b32b7a" target="_blank" rel="noopener">
                                    <img src="../img/cuartetodenos.jpg" alt="Cuarteto de Nos" class="show-item-img">
                                               
                                        <div class="show-item-detail">
                                            <p class="show-item-detail-title">Movistar Arena</p>
                                            <p class="show-item-detail-subtitle">Ver más</p>
                                        </div> 
                                </a>
                            </div>
        
            </main>
        
            <footer id="footer">
                <div class="footer-link">  
                <ul>
                  <li><a href="./template/teatro.html" class="">Teatro</a></li>
                  <li><a href="./template/cines.html" class="">Cines</a></li>
                  <li><a href="./template/recitales.html" class="">Recitales</a></li>
                  <li><a href="./template/about.html" class="">Quienes somos</a></li>
                  <li><a href="./template/contacto.html" class="">Contacto</a></li>
                </ul>
                </div>
                  <a href="">Todos los derechos reservados grupo 3 2024</a>
                </footer>
            
        </body>
        </html>